[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.utmp/
*.log
Screenshots/pitch-pass-mobile/
Screenshots/menu-mobile/
Screenshots/menu-bypass-gameplay/
Screenshots/multichapter-chapter1/
Screenshots/multichapter-chapter2/
Screenshots/multichapter-chapter2-v2/
Screenshots/multichapter-chapter2-v3/
Screenshots/multichapter-menu/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
crashlytics-build.properties
